#navbar{
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left{
  display: flex;
}
.animes-list{
  background-color: rgb(209, 190, 190);
  display: grid;
  grid-template-columns: auto auto;
}
anmies{
  background-color: cornflowerblue;
}
.animes-list button{
  border: none;
  background-color: transparent;
}
.animes-list button:active{
  transform: scale(1.5);
}
#navbar img{
  height: 60px;
  width: 70px;
}

nav a{
  font-size: 20px;
  background-color: white;
  text-decoration: none;
}